{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestion des Stages PFE">
    <meta name="author" content="Groupe PFE">

    <title>SB Admin 2 - Gestion Stages</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Stages <sup>PFE</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/analytics/dashboard/"> 
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">

    {% if user.role == 'ADMIN' %}
        <div class="sidebar-heading">Administration</div>
        <li class="nav-item">
            <a class="nav-link" href="/admin/">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Gérer les Utilisateurs</span>
            </a>
        </li>

    {% elif user.role == 'ETUDIANT' %}
        <div class="sidebar-heading">Espace Stagiaire</div>
        <li class="nav-item">
            <a class="nav-link" href="/profil/">
                <i class="fas fa-fw fa-user-graduate"></i>
                <span>Mon Profil Académique</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stages/offres/">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Offres de Stage</span>
            </a>
        </li>

    {% elif user.role == 'ENTREPRISE' %}
        <div class="sidebar-heading">Espace Entreprise</div>
        <li class="nav-item">
            <a class="nav-link" href="/mes-offres/">
                <i class="fas fa-fw fa-building"></i>
                <span>Mes Offres</span>
            </a>
        </li>
    {% endif %}

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Espace Stagiaire
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/stages/offres/">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Offres de Stage</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/analytics/recommandations/">
                    <i class="fas fa-fw fa-robot"></i>
                    <span>Recommandations IA</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">

                    {% block content %}
                    {% endblock %}

                </div>
                </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Gestion Stages 2026</span>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>